{% extends 'base.html.twig' %}

{% block title %}Add Author{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="container">

            {{ form_start(form) }}
            {{ form_errors(form) }}


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
