{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block button %}
    <li><a href="{{ path('create_author') }}">Add Author</a></li>
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">N.S.P</th>
                <th scope="col">Book(s)</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <th scope="row">{{ author.id }}</th>
                    <th>{{ author.getFIO() }}</th>
                    {% if author.getBooks() %}
                        <th>{% for book in author.getBooks() %} {{ book.name }} {% endfor %}  </th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    <th>
                        <div class="btn-group">
                            <a href="{{ path('update_author', {'author' : author.id}) }}">
                                <button type="button" class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{{ path('delete_author', {'author' : author.id}) }}">
                                <button type="button" class="btn btn-primary">Delete</button>
                            </a>

                        </div>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
