{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
