{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block button %}
    <li><a href="{{ path('create_book') }}">Add Book</a></li>
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Year of the edition</th>
                <th scope="col">ISBN</th>
                <th scope="col">Count pages</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <th>{{ book.name }}</th>
                    <th>{{ book.year }}</th>
                    <th>{{ book.isbn }}</th>
                    <th>{{ book.getCountPages() }}</th>

                    {% if book.getAuthors() %}
                        <td>{% for author in book.getAuthors() %} | {{ author.name }}  {% endfor %}  </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>
                        <div class="btn-group">
                            <a href="{{ path('single_book', {'book' : book.id}) }}">
                                <button type="button" class="btn btn-primary">See</button>
                            </a>
                            <a href="{{ path('update_book', {'book' : book.id}) }}">
                                <button type="button" class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{{ path('delete_book', {'book' : book.id}) }}">
                                <button type="button" class="btn btn-primary">Delete</button>
                            </a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
