{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block button %}
    <li><a href="{{ path('create_book') }}">Add Book</a></li>
{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <ul class="list-group">
            <li class="list-group-item">Id: {{ book.id }}</li>
            <li class="list-group-item">Name: {{ book.name }}</li>
            <li class="list-group-item">Year of the edition: {{ book.year }}</li>
            <li class="list-group-item">ISBN: {{ book.isbn }}</li>
            <li class="list-group-item">Count pages: {{ book.getCountPages() }}</li>
            {% if book.getAuthors() %}
                <li class="list-group-item">
                    Author(s): {% for author in book.getAuthors() %} | {{ author.name }} {% endfor %}</li>
            {% else %}
                <li class="list-group-item">Author(s):</li>
            {% endif %}

            <li class="list-group-item">Image:</li>
            <img src="{{ destination }}{{ book.getImage() }}" class="img-responsive margin" alt="Image" width="500" height="500">

        </ul>

        <div class="btn-group">
            <a href="{{ path('delete_book', {'book' : book.id}) }}">
                <button type="button" class="btn btn-primary">Delete</button>
            </a>
            <a href="{{ path('update_book', {'book' : book.id}) }}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
        </div>


    </div>
{% endblock %}
