<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            .example-wrapper {
                margin: 0.5em auto;
                max-width: 90%;
                width: 95%;
                font: 18px/1.5 sans-serif;
            }

            .example-wrapper code {
                background: #F5F5F5;
                padding: 2px 6px;
            }
        </style>
    {% endblock %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('main') }}">Home</a></li>
                <li><a href="{{ path('author') }}">Catalog Authors</a></li>
                <li><a href="{{ path('book') }}">Catalog Books</a></li>
                {% block button %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
<footer class="container-fluid bg-4 text-center">
    <p>Made By <a href="https://spb.hh.ru/resume/12f10708ff02a2ed6c0039ed1f69566b465767">Sergefenix</a></p>
</footer>
</html>
